@import '../variables';
@import '../mixin/clearfix';

body {
    @include clearfix();
    width: 100%;
}

.pane {
    background: rgba(46, 46, 46, 1.00);
    padding-bottom: 75px;
}

.loading {
    border-radius: 100% !important;
    padding: 15px !important;
    background-color: rgba(red($theme-primary), green($theme-primary), blue($theme-primary), 0.7) !important;
    img {
        display: block;
        margin: 0 auto;
    }
}

ion-header-bar {
    .buttons-right.header-item a {
        height: 35px;
        width: 35px;
        border-radius: 100%;
        background-size: cover;
        background-position: center;
    }
}

.state-loading{
    transition: all 2s ease;
}

.state-loaded{
    opacity:1 !important;
}

.theme-primary{
    background-color: $theme-primary;
    color: #fff !important;
}

.theme-secondary{
    background-color: $theme-secondary;
}

.theme-light-gray {
    background-color: $theme-light-gray;
}

.theme-dark-gray {
    background-color: $theme-dark-gray;
}