// IMPORTS
@import "../variables";

// STATE STYLES
.state-menuPlugins {
    .card {
        display: block;
        max-width: 600px;
        margin: 15px auto;
    }
    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {

    }

    @media (max-width: $screen-sm) {

    }

    @media (max-width: $screen-xs) {

    }
}