// IMPORTS
@import "../variables";

// STATE STYLES
.state-menuPlugins {
    .card {
        display: block;
        max-width: 600px;
        margin: 15px auto;
        .item-input-wrapper {
            background: transparent;
        }
        .ion-search {
            font-size: 25px;
        }
        .item-icon-right {
            i {
                color: $theme-dark-gray;
            }
            &:hover {
                cursor: pointer;
                h2 {
                    color: $theme-primary;
                }
            }
            i.icon:hover {
                color: $theme-primary;
            }
        }

        .ion-ios-book {
            right: 50px;
        }
    }
    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {

    }

    @media (max-width: $screen-sm) {

    }

    @media (max-width: $screen-xs) {

    }
}