// IMPORTS
@import "../variables";

// PAGE STYLES
.page-home {
    .col-xs {
        padding: 15px;
    }
    .card {
        width: 250px;
        display: block;
        margin: 0 auto;
        .item {
            text-transform: capitalize;
        }
    }
    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {

    }

    @media (max-width: $screen-sm) {

    }

    @media (max-width: $screen-xs) {

    }
}