// IMPORTS
@import "../variables";

// PAGE STYLES
.page-projectForm {
    form {
        max-width: 600px;
        margin: 0 auto;
        display: block;
    }

    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {

    }

    @media (max-width: $screen-sm) {

    }

    @media (max-width: $screen-xs) {

    }
}