ion-view.page-home(view-title='Home')
    ion-content(padding='true')
        .card
            ion-item(ng-repeat='project in ctrl.projects') {{project.name}}
    button(
        mfb-menu
        position='br'
        resting-icon='ion-plus-round'
        active-icon='ion-plus-round'
        ui-sref="newProject"
    )